@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root
{
    --first-color: radial-gradient(ellipse at bottom, #c1c2be 20%, #575755 100%);
	--first-color-rev: radial-gradient(ellipse at bottom, #575755 5%, #c1c2be 100%);
    --first-color-light: #967E76;
    --second-color: #8b959d;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/daysgone\ night.png);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
    transition: 0.5s;
}
.container
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    z-index: 10;
}
.blueBg
{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/abstract\ plate.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}
.blueBg .box
{
    position: relative;
    width: 50;
    height: 100%;
    display: flex;
    margin: 0 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blueBg .box .signh2
{
    color: white;
    font-size: 35px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(129, 129, 129);
    margin-bottom: 10px;
}
.blueBg .box .signm
{
    background:transparent;
    border: 3px solid white;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease-in;
}
.blueBg .box .signm:hover
{
    letter-spacing: 2px;
    box-shadow: 0 5px 45px rgba(0,0,0,.35);
}
.blueBg .box button
{
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.formBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBx.active
{
    left: 50%;
}
.formBx .form
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBx .signinForm
{
    transition-delay: 0.25s;
}
.formBx.active .signinForm
{
    left: -100%;
    transition-delay: 0s;
}
.formBx .signupForm
{
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .signupForm
{
    left: 0;
    transition-delay: 0.25s;
}
.formBx .form h3
{
    text-align: center;
    color: var(--second-color);
    padding-bottom: 20px;
    font-size: 40px;
}
.formBx .form form
{
   width: 100%;
   display: black;
   margin-bottom: 20px;
   font-weight: 500;
}
.formBx .form form input
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid grey;
}
.formBx .form form input[type="submit"]
{
    background: var(--first-color);
    border: none;
    color: white;
    max-width: 100px;
    border-radius: 20px;
    margin: 20px 105px;
    cursor: pointer;
    box-shadow: 0 5px 45px rgba(0,0,0,.35);
    transition: all 0.2s ease;
}
.formBx .form form input[type="submit"]:active
{
    transform: scale(0.95);
}
.formBx .form form .forgot
{
    color: rgb(110, 110, 110);
    margin-top: -15px;
    margin-left: 10px;
    text-decoration: none;
    position: absolute;
}
.formBx .form form .forgot:hover
{
    color:#4D77FF;
}
.s3-btn-close
{
	position:absolute;
	top: 0;
	right: 0;
	width: 40px;
    height: 40px;
	background:var(--first-color);
	border:solid 2px white;
	color:white;
	cursor:pointer;
	font-size: 30px;
	border-radius: 50px;
	z-index: 200;
	box-shadow:  0 14px 28px rgba(0,0,0,0.25);
}
.s3-btn-close:hover
{
	background: var(--first-color-rev);
}
.s3-btn
{
	background:var(--first-color);
	border-radius:30px;
	width:170px;
	height:50px;
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	color: white;
	bottom:0;
	left:0;
	margin:auto;
	transition: all 0.3s ease;
    font-size: 17px;
	box-shadow:  0 14px 28px rgba(0,0,0,1);
  }

.s3-btn:hover {
	background: var(--first-color-rev);
	color: white;
	border: 2px solid white;
    z-index: 5;
}
.s3-btn:active
{
    transform: scale(0.85);
}

@media (max-width: 991px)
{
    .container
    {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .container .blueBg
    {
        top: 0;
        height: 100%;
    }
    .formBx
    {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .blueBg .box
    {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin
    {
        top: 0;
    }
    .formBx.active
    {
        left: 0;
        top: 150px;
    }
}
@media (max-width: 425px)
{
    .container
    {
        max-width: 300px;
    }
    .formBx .form form input[type="submit"]
    {
        margin-left: 40px;   
    }
}